aiohttp
git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
psutil
markdownify
motor
dnspython
pymongo
aiodns
brotlipy
orjson
cchardet
rapidfuzz
beautifulsoup4
PyYAML
typing_extensions
